{% extends 'base.html' %}

{% block title %}
<title>BAVO Furnitures</title>
{% endblock %}

{% block content %}


    <div>

        <!-- Header Start -->
        <div class="header">
            <nav>
                <!-- <input type="checkbox" id="show-search"> -->
                <input type="checkbox" id="show-menu">
                <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
                <div class="content">
                    <div class="logo" style="font-weight: bolder; font-size: 25px;"><a href="#"><span style="color: brown;">BAVO</span><span>Furniture</span></a></div>

                    <ul class="links">
                        <li><a href="#" id="first">Home</a></li>
                        <li><a href="#about-sec">About</a></li>
                        <li><a href="#product">Products</a></li>
                        <li><a href="#contact">Contact</a></li>
                        <li><a href="#review">Reviews</a></li>
                    </ul>

                </div>
                
                    
                <div>
                    <i class="bx bx-user butt" id="user-icon"></i>
                    <i class='bx bx-shopping-bag' id="cart-icon"></i>
                </div>
                    
                
            </nav>
        </div>
        <!-- Header End -->

        <div class="cart">
            <h2 class="cart-title">Your Cart</h2>

            <!-- CONTENT  -->
            <div class="cart-content">


            </div>

            <!-- TOTAL   -->
            <div class="total">
                <div class="total-title">Total</div>
                <div class="total-price" >N0</div>
            </div>
            <!-- BUY BUTTON  -->
            <button type="submit" class="btn-buy">Buy Now</button>
            <!-- CART CLOSE  -->
            <i class='bx bx-x' id="cart-close"></i>
        </div>

        <!-- Home Section Start -->
        <div class="home" style="background-image: url(../static/images/land.jpg) ;">
            <div class="main-text">
                <h1>Discover Your Perfect Furniture. </h1>
                <span class="auto">
    
                </span>
                <p>Elevate Your Space with Style and Quality</p>
                <!-- <p>Elevate Your Home's Charm: Explore Handpicked Furniture Selections Today!.</p> -->
                <!-- <p>Transform Your Space: Find Furniture That Reflects Your Style and Comfort</p> -->
                <button id="btn">View More</button>
            </div>
        </div>
        <!-- Home Section End -->





        <!-- Top Section Card Start -->
        <section class="offers">
            <div class="offer-content">
                <div class="row">
                    <i class="fa-solid fa-truck-fast"></i>
                    <h3>Free Delivery</h3>
                    <p>We offer Free Delivery on Every Purchase.<br>
                        Your Comfort, Our Priority</p>
                </div>
                <div class="row">
                    <i class="fa-solid fa-headset"></i>
                    <h3>Support 24/7</h3>
                    <p>We are always here for You, <br>
                        24/7 Support at Your Service!</p>
                </div>
                <div class="row">
                    <i class="fa-solid fa-rotate-left"></i>
                    <h3>30 Day Return</h3>
                    <p>Shop with Confidence:<br>
                        Enjoy a Hassle-Free 30-Day Return Policy!</p>
                </div>
                <div class="row">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <h3>Secure Shopping</h3>
                    <p>Your Safety, Our Priority: <br>
                        Shop with Confidence and Security!</p>
                </div>
            </div>
        </section>
        <!-- Top Section Card End -->



        <!-- About Section Start -->
        <section id="about-sec" >
            <h3 id="about-head">
                About Us
            </h3>
        <div class="about" id="about">
            <div class="about-img">
                <img src=" {{ url_for('static', filename='images/about-img.png') }}" alt="">
                
            </div>
            <div class="about-text">
                <!-- <h3>Furniture service About us</h3> -->
                <p>Welcome to BAVO Furniture, your premier destination for modern and contemporary furniture that
                    redefines the way you experience your living spaces. At BOVA, we believe that your home should be 
                    a reflection of your unique style and personality, and we are here to help you achieve just that.
                    At BOVA, we understand that furniture is not just about filling a room; it's about creating an environment
                    where you can live, work, and thrive comfortably. 

                </p>
        
                <button id="about-btn">Read More...</button>
            </div>
        </div>
            
        </section>
        <!-- About Section End -->


        <!-- SHOP SECTION  -->
        <section class="shop container" id="product">
            <!-- <h2 class="section-title">Shop Products</h2> -->
            <h3 class="section-title">Shop Products</h3>
            <!-- CONTENT  -->
            <div class="shop-content">
                <!-- BOX 1 -->
                <div class="product-box">
                    <img src=" {{ url_for('static', filename='images/img1.jpg') }}" alt="" class="product-img">
                    <h2 class="product-title">Comfy</h2>
                    <span class="product-price">N500</span>
                    <i class='bx bx-shopping-bag add-cart butt'></i>
                </div>
                <!-- BOX 2 -->
                <div class="product-box">
                    <img src=" {{ url_for('static', filename='images/img2.jpg') }}" alt="" class="product-img">
                    <h2 class="product-title">Colamy</h2>
                    <span class="product-price">N1000</span>
                    <i class='bx bx-shopping-bag add-cart  butt'></i>
                </div>
                <!-- BOX 3 -->
                <div class="product-box">
                    <img src=" {{ url_for('static', filename='images/img3.jpg') }}" alt="" class="product-img">
                    <h2 class="product-title">Softy Curvy</h2>
                    <span class="product-price">N900</span>
                    <i class='bx bx-shopping-bag add-cart butt'></i>
                </div>
                <!-- BOX 4 -->
                <div class="product-box">
                    <img src=" {{ url_for('static', filename='images/img4.jpg') }}" alt="" class="product-img">
                    <h2 class="product-title">Console</h2>
                    <span class="product-price">N105</span>
                    <i class='bx bx-shopping-bag add-cart butt'></i>
                </div>
                <!-- BOX 5 -->
                <div class="product-box">
                    <img src=" {{ url_for('static', filename='images/img5.jpg') }}" alt="" class="product-img">
                    <h2 class="product-title">Confirm</h2>
                    <span class="product-price">N195</span>
                    <i class='bx bx-shopping-bag add-cart butt'></i>
                </div>
                <!-- BOX 6 -->
                <div class="product-box">
                    <img src=" {{ url_for('static', filename='images/img6.jpg') }}" alt="" class="product-img">
                    <h2 class="product-title">Beta-chop</h2>
                    <span class="product-price">N3000</span>
                    <i class='bx bx-shopping-bag add-cart butt'></i>
                </div>
                <!-- BOX 7 -->
                <div class="product-box">
                    <img src=" {{ url_for('static', filename='images/img7.jpg') }}" alt="" class="product-img">
                    <h2 class="product-title">Grandex</h2>
                    <span class="product-price">N4700</span>
                    <i class='bx bx-shopping-bag add-cart butt'></i>
                </div>
                <!-- BOX 8 -->
                <div class="product-box">
                    <img src=" {{ url_for('static', filename='images/img8.jpg') }}" alt="" class="product-img">
                    <h2 class="product-title">Best</h2>
                    <span class="product-price">N510.5</span>
                    <i class='bx bx-shopping-bag add-cart butt'></i>
                </div>
            </div>
        </section>


        <!-- Our Gallary Start -->
        <div class="gallary">
            <h3>Our Gallary</h3>
            <div class="gallary-img">
                <div class="img1">
                    <img src=" {{ url_for('static', filename='images/img2.jpg') }}" alt="">
                    <img src=" {{ url_for('static', filename='images/img5.jpg') }}" alt="">
                </div>
                <div class="img1">
                    <img src=" {{ url_for('static', filename='images/img4.jpg') }}" alt="">
                    <img src=" {{ url_for('static', filename='images/img7.jpg') }}" alt="">
                </div>
            </div>
        </div>
        <!-- Our Gallary End -->


        <!-- Contact Section Start -->
        <section class="contact" id="contact">
            <div class="content-text">
                <h2>Get In <span>Touch</span></h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, voluptates.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, harum. Sint recusandae in suscipit blanditiis, neque eos quam praesentium impedit?</p>
                <div class="list">
                    <li><a href="#">+234******</a></li>
                    <li><a href="#">bavofurnitures@gmail.com</a></li>
                </div>
            </div>

            <div class="contact-form">
                <form action="#">
                    <input type="name" placeholder="Name" required>
                    <input type="number" placeholder="Phone" required>
                    <input type="email" placeholder="Email" required>
                    <textarea name="" id="" cols="35" rows="10" placeholder="Message"></textarea>
                    <input type="submit" value="Send" class="submit" required>

                </form>
            </div>

        </section>
        <!-- Contact Section End -->


        <!-- Review Section Start -->
        <section class="review" id="review">
            <div class="main-txt">
                <h3>Customers <span>Review</span></h3>
            </div>

            <div class="review-content">
                <div class="box">
                <div class="img">
                    <img src="" alt="">
                </div>
                <h3>Elon Musk</h3>
                <div class="star">
                    <i class="fa-solid fa-star checked"></i>
                    <i class="fa-solid fa-star checked"></i>
                    <i class="fa-solid fa-star checked"></i>
                    <i class="fa-solid fa-star checked"></i>
                    <i class="fa-solid fa-star checked"></i>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. At, adipisci.</p>

            </div>
            <div class="box">
                <div class="img">
                    <img src="" alt="">
                </div>
                <h3>Adex</h3>
                <div class="star">
                    <i class="fa-solid fa-star checked"></i>
                    <i class="fa-solid fa-star checked"></i>
                    <i class="fa-solid fa-star checked"></i>
                    <i class="fa-solid fa-star checked"></i>
                    <i class="fa-solid fa-star checked"></i>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. At, adipisci.</p>

            </div>
            <div class="box">
                <div class="img">
                    <img src="" alt="">
                </div>
                <h3>Victor</h3>
                <div class="star">
                    <i class="fa-solid fa-star checked"></i>
                    <i class="fa-solid fa-star checked"></i>
                    <i class="fa-solid fa-star checked"></i>
                    <i class="fa-solid fa-star checked"></i>
                    <i class="fa-solid fa-star checked"></i>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. At, adipisci.</p>

            </div>

        </div>

        </section>
        <!-- Review Section End -->


        <!-- log in/register Start -->
        <div class="container">
            
            <div class="overlay">
            
            </div>
            <div class="main-popup">
            <div class="popup-header">
                <div id="popup-close-button"><a href="#"></a></div>
                <ul>
                <li><a href="#" id="sign-in">Sign In</a></li>
                <li><a href="#" id="register">Register</a></li>
                
                </ul>
            </div><!--.popup-header-->
            <div class="popup-content">
                
                <form action="#" class="sign-in">
                <label for="email">Email:</label>
                <input type="email" id="email" required>
                <label for="password">Password:</label>
                <input type="password" id="password" required>
                <p class="check-mark">
                    <input type="checkbox" id="remember-me">
                    <label for="remember-me">Remember me</label>
                </p>
                <p class="check-mark1">
                    <input type="checkbox" id="forgot-password">
                    <label for="forgot-password">Forgot password</label>
                </p>
                <input type="submit" id="submit" value="Submit">
                </form>
            
                <form action="#" class="register">
                <label for="email-register">Email:</label>
                <input type="email" id="email-register" required>
                <label for="password-register">Password:</label>
                <input type="password" id="password-register" required>
                <label for="password-confirmation">Confirm Password:</label>
                <input type="password-confirmation" id="password-confirmation" required>
                <p class="check-mark">
                    <input type="checkbox" id="accept-terms">
                    <label for="accept-terms">I agree to the <a href="#">Terms</a></label>
                </p>
                <input type="submit" id="submit" value="Create Account">
                </form>
            </div><!--.popup-content-->
            </div><!--.main-popup-->
        
        </div>
        <!-- log in/register ends -->


        <!-- Footer Start -->
        <footer id="footer">
            <div class="footer-content">
                <div class="logo">
                    <a href="index.html"><span style="color: brown;">BAVO</span><span>Furniture</span></a>
                </div>

                <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et labore suscipit nisi non, laudantium delectus?
                    <br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, molestias!
                </p> -->
                <div class="socail-links">
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-facebook-f"></i>
                    <i class="fa-brands fa-instagram"></i>
            
                </div>
            </div>
            <hr>
            <div class="footer-bottom-content">
                <p>Designed By <a href="#">BOVA Tech</a></p>
            </div>
        </footer>
        <!-- Footer End -->
        <a href="#" class="arrow"><i><img src=" {{ url_for('static', filename='images/up-arrow.png') }}" alt="" width="50px"></i></a>


    </div>

{% endblock %}